.card-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    padding: 10px;
    background-color: blueviolet;
    color: white;
}

@media screen and (max-width: 768px) {
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .card-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}