.responsive-text{
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .responsive-text{
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .responsive-text{
        font-size: 12px;
    }
}