input{
    border: black solid 5px;
    padding: 3em;
}
input:hover{
    border: blueviolet;
}

button{
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button:hover{
    background-color: aquamarine;
}