nav{
    background-color: aquamarine;
}

nav ul li{
    display: inline;
    margin-right: 20px;
    padding: 1em;
}

nav ul{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    color: black;
}